<div>
<h1>Bienvenue {{ok.username}}</h1>
<h3>Voici vos achats</h3>
<table class="table">
<thead>
<th>Reference Article</th>
<th>Nom</th>
<th>Prix</th>
<th>Date de commande</th>
<th>&nbsp</th>
</thead>
<tbody>
<tr ng-repeat="p in panier">
<td>{{p.idArticle}}</td>
<td>{{p.nom}}</td>
<td>{{p.prix}}</td>
<td>{{p.dCommande}}</td>
<td><button class="btn btn-danger" ng-click="remove(p._id)">Remove</button></td>
</tr>
</tbody>
</table>
<button class="btn btn-warning">Payment</button>
</div>