<div class="container">
<div class="row">
<h1>Bienvenue {{ok.username}}</h1>
<div class="col-md-4">
<fieldset>
<legend>Informations de livraison</legend>

  <form class="form" ng-submit="login()">
    <div class="form-group">
      <label>Nom Complet</label>
      <input type="text" class="form-control" name="username" ng-model="payForm.username" required>
    </div>
    <div class="form-group">
      <label>Adresse de réception souhaitée</label>
        <input type="text" class="form-control" name="adress" ng-model="payForm.adress" required>
      </div>
  </form>

</fieldset>

<fieldset>
<legend>Informations payment</legend>
<div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>

    <div class="form-group">
      <label>Numéro de carte de crédit</label>
      <input type="text" class="form-control" name="credit" ng-model="payForm.credit" required>
    </div>
    <div class="form-group">
      <label>Date d'expiration</label>
        <input type="text" class="form-control" name="exp" ng-model="payForm.exp" required>
      </div>


</fieldset>
</div>

</div>

<div class="row">
  <h3>Montant à payer : {{tot}}</h3>
<button type="submit" class="btn btn-default" ng-disabled="disabled">Payer</button>
<button class="btn btn-warning">Annuler</button>
</div>
</div>
