<h3>Montant achats : {{total}}</h3>
<h1>Liste des commandes</h1>
<table class="table">
<thead>
<th>Nom</th>
<th>Prix</th>
<th>Quantité</th>
<th>&nbsp</th>
</thead>
<tbody>
<tr ng-repeat="p in panier">
<td>{{p.name}}</td>
<td>{{p.price}}</td>
<td>{{p.qty}}</td>
<td><button class="btn btn-danger" ng-click="remove(p.ref)">Réduire</button></td>
</tr>
</tbody>
</table>
<br>
<a href="#/">Back to Home Page</a>
<br>
<button class="btn btn-primary" ng-click="Valider()">Valider</button>